header{
  width: 100vw;
  height: 100px;
  background-color: rgb(187, 128, 243);
  color: black;
  display: flex;
  align-items: center;
}
.logo{
  margin-left: 50px;
  margin-top: 30px;
}
.menu ul{
  display:flex;
  gap: 100px;
  margin-right: 200px;
  margin-left: 10px;
}